{% block navbar%}
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header"><a class="navbar-brand" href="#">SCD - SDN Conflict Detection</a></div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://ims.lojas3passos.com.br/pagina-principal" target="_blank">NOX Repo</a></li>
            <li><a href="http://webmail.lojas3passos.com.br" target="_blank">GitHub POX</a></li>
            <li><a href="http://moodle.lojas3passos.com.br" target="_blank">My GitHub</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="list-group-item list-group-item-info">Welcome Guy!</a></li>
        </ul>
    </div>
</nav>
{% end block %}